$dialog-bg-color: #fff;
$dialog-min-width: 300px;

.layout.dialog-show {
    transition: all 0.2s;
    overflow: hidden;
    filter: blur(4px);
}
.dialog-popup {
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: all 0.4s;
    opacity: 0;
    &.show {
        opacity: 1;
        pointer-events: auto;
    }
}

.dialog-transition-group{
    width: 100%;
}

.dialog-popup__item {
    position: absolute;
    min-width: $dialog-min-width;
    // transition: all 0.4s;
    &.fade-enter-active {
        opacity: 0;
    }
    &.fade-enter-to {
        opacity: 1;
    }
    &.fade-leave-active {
        opacity: 1;
    }
    &.fade-leave-to {
        opacity: 0;
    }
}
.popup-view {
    background-color: $dialog-bg-color;
    border-radius: 0.5rem;
    transition: all 0.4s;
    &.fade-enter-active {
        opacity: 0;
        transform: translateY(-50%);
    }
    &.fade-enter-to {
        opacity: 1;
        transform: translateY(0%);
    }
    &.fade-leave-active {
        opacity: 1;
        transform: translateY(0%);
    }
    &.fade-leave-to {
        opacity: 0;
        transform: translateY(-50%);
    }
}
.popup-view-header {
    padding: 0.5rem;
    border-bottom: 1px solid #5B5B5B;
    h3 {
        margin: 0 0.5rem;
    }
    button {
        margin: 0 0.5rem;
    }
}
.popup-view-body {
    padding: 1rem;
}
.popup-view-footer {
    border-top: 1px solid #ccc;
    padding: 0.5rem;
    button {
        margin: 0 0.5rem;
    }
}
