.size-88 > svg{
    width: 88px;
    height: 88px;
    pointer-events: none;
}
.size-36 > svg{
    width: 36px;
    height: 36px;
    pointer-events: none;
}
.size-10 > svg{
    width: 10px;
    height: 10px;
    pointer-events: none;
}
.size-20 > svg{
    width: 20px;
    height: 20px;
    pointer-events: none;
}
.size-41 > svg{
    width: 41px;
    height: 41px;
    pointer-events: none;
}
.size-41x51 > svg{
    width: 41px;
    height: 51px;
    pointer-events: none;
}
.size-85x55 > svg{
    width: 85px;
    height: 55px;
    pointer-events: none;
}
.size-45 > svg{
    width: 45px;
    height: 45px;
    pointer-events: none;
}
.size-54 > svg{
    width: 54px;
    height: 54px;
    pointer-events: none;
}
.size-109 > svg{
    width: 109px;
    height: 109px;
    pointer-events: none;
}
svg{
    display: block;
    color: currentColor;
}
.icon-link{
    color: $dark;
    cursor: pointer;
    &:hover{
        color: $primary;
    }
}
.focus-fill{
    color: transparent;
    &:hover{
        color: transparent;
    }
    &:focus{
        color: $primary;
    }
}

.btn-icon{
    border: 0;
    background-color: transparent;
    padding: 0;
}