.pagination{
    .page-list{
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        .page-item{
            &.prev{
                margin-right: 0.25rem;
                background-color: $primary;
                border-radius: 50%;
                a{
                    width: 1.5rem;
                    height: 1.5rem;
                    background-image: url(./image/double-arrow-left-round.svg);
                }
            }
            &.next{
                flex-grow: 0;
                flex-shrink: 0;
                margin-left: 0.25rem;
                background-color: $primary;
                border-radius: 50%;
                a{
                    width: 1.5rem;
                    height: 1.5rem;
                    background-image: url(./image/double-arrow-right-round.svg);
                }
            }
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                color: $dark;
                font-size: 1rem;
                padding: 0.5rem;
                &:hover{
                    color: $gray;
                    text-decoration: none;
                }
                &.active{
                    color: $primary;
                }
            }
            @include media-max(576px){
                a{
                    font-size: 0.75rem;
                    padding: 0.3rem;
                }
                &.next{
                    a{
                        width: 1rem;
                        height: 1rem;
                    }
                }
                &.prev{
                    a{
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }
        }
    }
}