.header-title{
    font-size: 1.25rem;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    @include media-max(992px){
        font-size: 0.75rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
}
.desktop{
    .container{
        padding: 1.5rem 0 3rem 0;
    }
}
.mobile{
    .container{
        padding: 1.5rem 1rem 1rem 1rem;
        @include media-max(576px){
            padding: 0.75rem 1rem 0.5rem 2rem;
        }
    }
    .logo{
        .icon-logo1{
            width: 223px;
            height: 82px;
            @include media-max(748px){
                width: 160px;
                height: 60px;
            }
            @include media-max(576px){
                width: 131px;
                height: 52px;
            }
            @include media-max(374px){
                width: 90px;
            }
        }
    }
}
.nav-bar{
    padding: 0 2rem;
    .nav-link{
        display: block;
        text-decoration: none;
        &:hover{
            font-weight: bold;
        }
    }
    .nav-list{
        position: relative;
        .nav-bottomline{
            height: 4px;
            background-color: $primary;
            transition: all 0.2s linear;
            width: 0%;
        }
        .nav-link{
            @include stretched-link;
        }
        &:hover{
            .nav-bottomline{
                width: 100%;
            }
        }
    }
    .separate-line{
        height: 100%;
        width: 1px;
        background-color: $primary;
        position: absolute;
        right: 0;
        top: 0;
    }
    .list-panel{
        position: absolute;
        border: 3px solid $primary;
        background-color: rgba($white,0.85);
        border-radius: 40px;
        display: none;
        z-index: 1;
        left: 0;
        top: 100%;
        padding: 22px 0;
        &.show{
            display: block;
        }
    }
    .list-item{
        position: relative;
        .list-item-title{
            padding: 0 35px;
            margin-bottom: 10px;
        }
    }
    .sub-list{
        padding: 10px 0;
        a{
            display: block;
            line-height: 1;
            color: $dark;
            padding: 0 35px;
            margin-bottom: 0;
            &:hover{
                color: $primary;
                text-decoration: none;
            }
        }
        a.border-left{
            border-left: $primary 1px solid !important;
        }
    }
    // 特殊追加
    .list-home {
        width: 105px;
    }
    .list-shop {
        width: 122px;
        .list-panel{
            left: -140px;
            width: 694px;
        }
    }
    .list-about {
        width: 122px;
        .list-panel{
            left: -38px;
            width: 224px;
        }
    }
    .list-life {
        width: 140px;
        .list-panel{
            left: -38px;
            width: 328px;
        }
    }
    .list-qa {
        width: 92px;
        .list-panel{
            left: auto;
            right: -38px;
            width: 632px;
        }
    }
}  

.sub-nav-desktop{
    position: relative;
    // .sub-item{}
    .nav-link{
        position: relative;
        @include stretched-link;
    }
    .icon-search.focus{
        color: $primary;
    }
    .search-bar{
        position: absolute;
        top: 120%;
        left: 0;
        right: 0;
        z-index: 1;
        display: none;
        input[type=search]{
            width: 100%;
            border: 3px solid $primary;
            padding: 0.5rem 1.5rem;
            border-radius: 99rem;
            &:focus{
                outline: 0;
            }
            &::placeholder{
                color: $primary;
            }
        }
        input[type=submit]{
            pointer-events: none;
            opacity: 0;
        }
    }
    
}
.sub-nav-desktop{
    .list-panel{
        position: absolute;
        border: 3px solid $primary;
        background-color: rgba($white,0.85);
        border-radius: 40px;
        display: none;
        z-index: 1;
        padding: 22px 0;
        width: 328px;
        left: auto;
        right: 0;
        top: 100%;
        &.show{
            display: block;
        }
    }
    .separate-line{
        height: 100%;
        width: 1px;
        background-color: $primary;
        position: absolute;
        right: 0;
        top: 0;
    }
    .list-item{
        position: relative;
        .list-item-title{
            padding: 0 35px;
            margin-bottom: 10px;
        }
    }
    .sub-list{
        padding: 10px 0;
        a{
            display: block;
            line-height: 1;
            color: $dark;
            padding: 0 35px;
            margin-bottom: 0;
            &:hover{
                color: $primary;
                text-decoration: none;
            }
        }
    }
}
header{
    .sub-nav-item{
        padding: 0 1rem;
        @include media-max(576px){
            padding: 0 0.75rem;
        }
    }
    .nav-btn{
        border: 0;
        background: transparent;
        position: relative;
        width: 30px;
        height: 36px;
        padding: 0;
        color: $dark;
        > svg{
            pointer-events: none;
        }
        &:hover{
            color: $primary;
        }
    }
}
aside{
    &.sub-nav-mobile{
        z-index: 150;
        @include media-min(1200px){
            display: none;
        }
        &.nav-back{
            position: absolute;
            top: 0;
            bottom: 100%;
            left: 0;
            right: 0;
            transition: all 0.3s;
            background-color: rgba($white , 0.8);
            &.active{
                bottom: 0;
            }
        }
        .nav-panel{
            position: absolute;
            z-index: 1;
            width: 150px;
            left: auto;
            right: 0;
            top: 0;
            display: none;
        }
        .nav-list{
    
        }
        .nav-sub-btn{
            width: 100%;
            border-width: 1px 0 1px 0;
            border-color: $gray-light;
            border-style: solid; 
            font-size: 1rem;
            padding: 0.5rem 0;
            background-color: $primary;
            color: $white;
            letter-spacing: 2px;
        }
        .nav-sub-list{
            background-color: $gray-light;
            padding: 0.5rem 0;
            display: none;
        }
        .nav-sub-item{
            padding: 0.5rem 1rem;
        }
        .nav-sub-link{
            color: $dark;
            font-weight: bold;
            &:hover{
                color: $primary;
                text-decoration: none;
            }
        }
    }
}