
.nav-bar{
    padding: 0 2rem;
    .nav-link{
        display: block;
        text-decoration: none;
        &:hover{
            font-weight: bold;
        }
    }
    .nav-list{
        position: relative;
        .nav-bottomline{
            height: 4px;
            background-color: $primary;
            transition: all 0.2s linear;
            width: 0%;
        }
        .nav-link{
            @include stretched-link;
        }
        &:hover{
            .nav-bottomline{
                width: 100%;
            }
        }
    }
    .separate-line{
        height: 100%;
        width: 1px;
        background-color: $primary;
        position: absolute;
        right: 0;
        top: 0;
    }
    .list-panel{
        position: absolute;
        border: 3px solid $primary;
        background-color: rgba($white,0.85);
        border-radius: 40px;
        display: none;
        z-index: 1;
        left: 0;
        top: 100%;
        padding: 22px 0;
        &.show{
            display: block;
        }
    }
    .list-item{
        position: relative;
        .list-item-title{
            padding: 0 35px;
            margin-bottom: 10px;
        }
    }
    .sub-list{
        padding: 10px 0;
        a{
            display: block;
            line-height: 1;
            color: $dark;
            padding: 0 35px;
            margin-bottom: 0;
            &:hover{
                color: $primary;
                text-decoration: none;
            }
        }
        a.border-left{
            border-left: $primary 1px solid !important;
        }
    }
    // 特殊追加
    .list-home {
        width: 105px;
    }
    .list-shop {
        width: 122px;
        .list-panel{
            left: -140px;
            width: 694px;
        }
    }
    .list-about {
        width: 122px;
        .list-panel{
            left: -38px;
            width: 224px;
        }
    }
    .list-life {
        width: 140px;
        .list-panel{
            left: -38px;
            width: 328px;
        }
    }
    .list-qa {
        width: 92px;
        .list-panel{
            left: auto;
            right: -38px;
            width: 632px;
        }
    }
}  

.sub-nav-desktop{
    position: relative;
    // .sub-item{}
    .nav-link{
        position: relative;
        @include stretched-link;
    }
    .icon-search.focus{
        color: $primary;
    }
    .search-bar{
        position: absolute;
        top: 120%;
        left: 0;
        right: 0;
        z-index: 1;
        display: none;
        input[type=search]{
            width: 100%;
            border: 3px solid $primary;
            padding: 0.5rem 1.5rem;
            border-radius: 99rem;
            &:focus{
                outline: 0;
            }
            &::placeholder{
                color: $primary;
            }
        }
        input[type=submit]{
            pointer-events: none;
            opacity: 0;
        }
    }
    
}
.sub-nav-desktop{
    .list-panel{
        position: absolute;
        border: 3px solid $primary;
        background-color: rgba($white,0.85);
        border-radius: 40px;
        display: none;
        z-index: 1;
        padding: 22px 0;
        width: 328px;
        left: auto;
        right: 0;
        top: 120%;
        &.show{
            display: block;
        }
    }
    .separate-line{
        height: 100%;
        width: 1px;
        background-color: $primary;
        position: absolute;
        right: 0;
        top: 0;
    }
    .list-item{
        position: relative;
        .list-item-title{
            padding: 0 35px;
            margin-bottom: 10px;
        }
    }
    .sub-list{
        padding: 10px 0;
        a{
            display: block;
            line-height: 1;
            color: $dark;
            padding: 0 35px;
            margin-bottom: 0;
            &:hover{
                color: $primary;
                text-decoration: none;
            }
        }
    }
}
.sub-nav-mobile{
    position: relative;
    // .sub-nav-item{}
    .nav-btn{
        border: 0;
        background: transparent;
        position: relative;
        width: 30px;
        height: 36px;
        padding: 0;
        color: $dark;
        > svg{
            pointer-events: none;
        }
        // .top-line{
        //     top: 6px;
        // }
        // .center-line{
        //     top: 50%;
        //     transform: translateY(-50%);
        // }
        // .bottom-line{
        //     bottom: 6px;
        // }
        // .btn-line{
        //     position: absolute;
        //     left: 0;
        //     right: 0;
        //     height: 4px;
        //     border-radius: 99rem;
        //     background-color: currentColor;
        //     transition: all 0.2s;
        //     pointer-events: none;
        // } 
        &:hover{
            color: $primary;
        }
    }
    .nav-panel{
        position: absolute;
        z-index: 1;
        width: 250px;
        left: auto;
        right: 0;
        top: 0;
        display: none;
    }
    .nav-list{

    }
    .nav-sub-btn{
        width: 100%;
        border-width: 1px 0 1px 0;
        border-color: $gray-light;
        border-style: solid; 
        font-size: 1.875rem;
        padding: 13px 0;
        background-color: $primary;
        color: $white;
        letter-spacing: 2px;
    }
    .nav-sub-list{
        background-color: $gray-light;
        padding: 20px 0;
        display: none;
    }
    .nav-sub-item{
        padding: 14px 35px;
    }
    .nav-sub-link{
        color: $dark;
        font-weight: bold;
        &:hover{
            color: $primary;
            text-decoration: none;
        }
    }
}
aside{
    @include media-min(1200px){
        &.sub-nav-mobile{
            display: none;
        }
    }
    // .aside-list{}
    .aside-item{
        position: relative;
    }
    .aside-btn{
        position: relative;
        z-index: 2;
        background-color: $primary;
        width: 62px;
        height: 168px;
        line-height: 1.5;
        border: 0;
        border-radius: 0 1rem 1rem 0;
        padding: 1rem;
        margin: 0;
        color: $white;
        &:hover{
            text-decoration: none;
        }
        > span{
            pointer-events: none;
        }
    }
    .arrow-right{
        display: block;
        border-width: 2px 2px 0 0;
        border-style: solid;
        border-color: $white;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        margin: 0 0 8px 8px;
    }
    .sub-panel{
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: #e5e5e5;
        border-radius: 0 25px 25px 0;
        width: 0;
        display: none;
        overflow: hidden;
    }
    .sub-list{
        width: 420px;
        height: 100%;
        padding: 13.5px 35px 13.5px 97px;
        margin: auto 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .sub-item{
        width: 50%;
        height: 33.33333%;
        padding: 13.5px 0.5rem;
        a{
            line-height: 1;
            color: #959595;
            &:hover{
                color: $primary;
                text-decoration: none;
            }
        }
    }
}