.prt-base{
    .base-data{
        padding-top: 62px;
        > .row > [class*="col"]{
            min-height: 60px;
        }
        .h4{
            white-space: nowrap;
        }
    }
    @media (max-width: 768px){
        .base-data > .row > [class*="col"]{
            min-height: 40px;
        }
        .base-data .row{
            margin-left: -10px; 
            margin-right: -5px; 
        }
        .base-data .row [class*="col"]{
            padding-left: 10px; 
            padding-right: 10px; 
        }
        .base-data .svg-type {
            height: 40px;
        }
        .base-data .svg-sex {
            width: 55px;
            height: 40px;
        }
        .base-data .h4{
            font-size: 1rem;
        }
        .pet-data h4 {
            font-size: 1rem;
        }
    }
    @media (max-width: 576px){
        .base-data{
            padding-top: 1rem;
        }
        .base-data > .row > [class*="col"]{
            min-height: 30px;
        }
        .base-data .svg-type {
            width: 35px;
            height: 25px;
        }
        .base-data .svg-sex {
            width: 40px;
            height: 25px;
        }
    }
    .sub-text{
        margin: 0 0.25rem;
        font-size: 1rem;
    }
    .custom-control.custom-checkbox{
        padding: 0;
    }
    .custom-control.custom-checkbox label{
        cursor: pointer;
    }
    input[type="checkbox"]~label::before{
        opacity: 0;
    }
    input[type="checkbox"]~label::after{
        opacity: 0;
    }
    
    
}
#nutrition-char{
    height: 100%;
    width: 100%;
}