.shop-detail{
    section{
        h2{
            font-size: 2rem
        }
        .text-price{
            h4{
                font-size: 1.75rem
            }
            span{
                font-size: 1.125rem
            }
        }
        .text-del-price{
            span{
                font-size: 1.125rem
            }
            del{
                font-size: 1.125rem
            }
        }
        p{
            font-size: 1rem;
            line-height: 2;
        }
        @include media-max(576px){
            h2{
                font-size: 1.5rem
            }
            .text-price{
                h4{
                    font-size: 1.5rem
                }
                span{
                    font-size: 1rem
                }
            }
            .text-del-price{
                span{
                    font-size: 1rem
                }
                del{
                    font-size: 1rem
                }
            }
            p{
                font-size: 1rem;
                line-height: 1.5;
            }
        }
        .social-media{
            a{
                color: $gray-light;
                &:hover{
                    color: $primary;
                }
            }
        }
        .select-case{
            button{
                padding: 0.25rem 1.5rem;
                .icon-shop-solid{
                    width: 1.25rem;
                    height: 1.25rem;
                }
                span{
                    font-size: 1rem;
                }
            }
        }
        nav{
            a{
                display: inline-block;
                font-size: 1.25rem;
                color: $dark;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    left: 50%;
                    right: 50%;
                    bottom: -0.125rem;
                    background-color: $primary;
                    transition: all 0.2s;
                    height: 0.125rem;
                }
                &:hover{
                    color: $primary;
                    text-decoration: none;
                    &::after{
                        left: 15%;
                        right: 15%;
                    }
                }
            }
        }
        .modal{
            background-color: rgba(255, 255, 255, 0.8);
            .form-check{
                .form-check-input{
                    opacity: 0;
                    pointer-events: none;
                    &:checked~.form-check-label{
                        background-color: $primary;
                    }
                }
                .form-check-label{
                    background-color: $dark;
                    min-width: 50px;
                    cursor: pointer;
                    &:hover {
                        background-color: $primary;
                    }
                }
            }
            .count-bar{
                background-color: $light;
                .btn{
                    background-color: transparent;
                    color: $dark;
                    min-width: auto;
                }
                input{
                    background-color: transparent;
                    border: 0;
                    width: 40px;
                }
            }
            .box-link{
                background-color: $gray-light;
                &:hover {
                    background-color: $primary;
                }
                a{
                    color: #fff;
                }
                .arrow{
                    margin-bottom: -8px;
                    transform: rotate(90deg);
                }
            }
            #submit{
                background-color: transparent;
                color: #fff;
                border: 0;
                outline: 0;
            }
        }
    }
}