extends ./layout/index.pug

block content
  main#pet-page.col
    section.container.py-5
      h2.pb-5 毛孩專區
      #pet-detail
        .row.pb-3
          .col-4
            .hover-block.border.border-primary.p-1.p-sm-3
              .d-flex.flex-column.justify-content-center.align-items-cente
                .d-flex.justify-content-center
                  .icon-cat-type.size-41
                  .icon-dog-type.size-41
                a.stretched-link.pt-2.text-nowrap.text-center(href='javascript:;') 毛孩資料
          .col-4
            .hover-block.border.border-primary.p-1.p-sm-3
              .d-flex.flex-column.justify-content-center.align-items-center
                .icon-record.size-41
                a.stretched-link.pt-2.text-nowrap(href='javascript:;') 營養評估
          .col-4
            .hover-block.border.border-primary.p-1.p-sm-3
              .d-flex.flex-column.justify-content-center.align-items-center
                .icon-evaluation.size-41
                a.stretched-link.pt-2.text-nowrap(href='javascript:;') 客製化寵糧紀錄
        .prt-record.border.border-primary
          .d-grid.grid-record
            .grig-image.p-2.p-md-3
              img.w-100(src="./assets/image/prod-01.min.jpg") 
            .grig-order.px-2.px-md-3.py-2
              div 客製寵糧訂單編號：
              div EGT05167
            .grig-title.px-2.px-md-3.py-2
              div 多貓家庭搭伙合菜<br>『美味雞魚配方』
            .grig-price.p-2.p-md-3.d-flex.flex-md-column.flex-center.justify-content-start.justify-content-md-center
              .text-primary.text-nowrap.mr-2 NT$1488
              del.text-nowrap 原價：1900
            .grig-quantity.d-flex.flex-center.p-2.p-md-3
              span.mr-1 X
              span 1
            .grig-totle.d-flex.flex-center.p-2.p-md-3
              span.mr-1 NT$
              span 1488
            .grig-buy-date.px-2.px-md-3.py-2.d-flex.flex-md-column.justify-content-start.justify-content-md-center
              .mr-1 購買日期：
              div YYYY/MM/DD
            .grig-btn.d-flex.justify-content-end.p-2.p-md-3
              a.btn.btn-primary.text-white.rounded-pill(href='javascript:;') 再次訂購
          .d-grid.grid-record.border-top.border-primary
            .grig-image.p-2.p-md-3
              img.w-100(src="./assets/image/prod-02.min.jpg") 
            .grig-order.px-2.px-md-3.py-2
              div 客製寵糧訂單編號：
              div EGT05167
            .grig-title.px-2.px-md-3.py-2
              div 多貓家庭搭伙合菜<br>『美味雞魚配方』
            .grig-price.p-2.p-md-3.d-flex.flex-md-column.flex-center.justify-content-start.justify-content-md-center
              .text-primary.text-nowrap.mr-2 NT$1488
              del.text-nowrap 原價：1900
            .grig-quantity.d-flex.flex-center.p-2.p-md-3
              span.mr-1 X
              span 1
            .grig-totle.d-flex.flex-center.p-2.p-md-3
              span.mr-1 NT$
              span 1488
            .grig-buy-date.px-2.px-md-3.py-2.d-flex.flex-md-column.justify-content-start.justify-content-md-center
              .mr-1 購買日期：
              div YYYY/MM/DD
            .grig-btn.d-flex.justify-content-end.p-2.p-md-3
              a.btn.btn-primary.text-white.rounded-pill(href='javascript:;') 再次訂購
          .d-grid.grid-record.border-top.border-primary
            .grig-image.p-2.p-md-3
              img.w-100(src="./assets/image/prod-03.min.jpg") 
            .grig-order.px-2.px-md-3.py-2
              div 客製寵糧訂單編號：
              div EGT05167
            .grig-title.px-2.px-md-3.py-2
              div 多貓家庭搭伙合菜<br>『美味雞魚配方』
            .grig-price.p-2.p-md-3.d-flex.flex-md-column.flex-center.justify-content-start.justify-content-md-center
              .text-primary.text-nowrap.mr-2 NT$1488
              del.text-nowrap 原價：1900
            .grig-quantity.d-flex.flex-center.p-2.p-md-3
              span.mr-1 X
              span 1
            .grig-totle.d-flex.flex-center.p-2.p-md-3
              span.mr-1 NT$
              span 1488
            .grig-buy-date.px-2.px-md-3.py-2.d-flex.flex-md-column.justify-content-start.justify-content-md-center
              .mr-1 購買日期：
              div YYYY/MM/DD
            .grig-btn.d-flex.justify-content-end.p-2.p-md-3
              a.btn.btn-primary.text-white.rounded-pill(href='javascript:;') 再次訂購