extends ./layout/index.pug

block aside
  aside#shop-aside.col-auto
    .aside-panel
      ul.aside-list.list-unstyled
        li.aside-item
          button.aside-btn.font-weight-bold(type='button' data-target='#list-discount')
            span.icon-arrow-right
            span.d-block 最
            span.d-block 新
            span.d-block 優
            span.d-block 惠
          #list-discount.sub-panel(data-switch='false')
            ul.sub-list.list-unstyled
              li.sub-item
                a(href='javascript:;') 購物滿額贈
        li.aside-item
          button.aside-btn.font-weight-bold(type='button' data-target='#list-dog')
            span.icon-arrow-right
            span.d-block 餵
            span.d-block •
            span.d-block 愛
            span.d-block 犬
          #list-dog.sub-panel(data-switch='false')
            ul.sub-list.list-unstyled
              li.sub-item
                a(href='javascript:;') 人氣組合
              li.sub-item
                a(href='javascript:;') 客製化寵糧
              li.sub-item
                a(href='javascript:;') SUPER主食罐
              li.sub-item
                a(href='javascript:;') HERO零食
              li.sub-item
                a(href='javascript:;') 能量補給玩具
              li.sub-item
                a(href='javascript:;') 紓壓玩具
        li.aside-item
          button.aside-btn.font-weight-bold(type='button' data-target='#list-cat')
            span.icon-arrow-right
            span.d-block 餵
            span.d-block •
            span.d-block 愛
            span.d-block 貓
          #list-cat.sub-panel(data-switch='false')
            ul.sub-list.list-unstyled
              li.sub-item
                a(href='javascript:;') 人氣組合
              li.sub-item
                a(href='javascript:;') 客製化寵糧
              li.sub-item
                a(href='javascript:;') SUPER主食罐
              li.sub-item
                a(href='javascript:;') HERO零食
              li.sub-item
                a(href='javascript:;') 能量補給玩具
              li.sub-item
                a(href='javascript:;') 紓壓玩具
        li.aside-item
          button.aside-btn.font-weight-bold(type='button' data-target='#list-exchange')
            span.icon-arrow-right
            span.d-block P
            span.d-block 幣
            span.d-block 兌
            span.d-block 換
          #list-exchange.sub-panel(data-switch='false')
            ul.sub-list.list-unstyled
              li.sub-item
                a(href='javascript:;') 兌換食品
              li.sub-item
                a(href='javascript:;') 兌換禮品
block content
  main.col.shop-list
    section.sec1.container.py-3
      img.benner-cat.w-100(src='./assets/image//shop-cat.min.jpg' alt='')
      // <img class="benner-dog w-100" src="./assets/image//shop-dog.min.jpg" alt="">
    section.container
      h2.py-3
        span 人氣組合｜
        span CAT
      article.row
        each val in [1,2,3,4,5,6,7,8,9]
          .col-6.col-lg-4.py-3
            figure.card.rounded-0.prod-card
              .card-header.card-img.p-0
                img.w-100(src='./assets/image/prod-01.min.jpg' alt='')
                .card-hover.py-2.bg-primary.text-center
                  a.text-white.stretched-link(href='javascript:;') 加入購物袋
              .card-body
                figcaption
                  h3.text-dark.mb-1 銷售口號
                  .heading-sub.text-dark.mb-1
                    | 嘟貓家庭搭伙合菜
                    br
                    | 『美味雞魚配方』
                    br
                .border-bottom
                .text-price.d-flex.flex-between.py-2
                  .d-flex.align-items-end
                    span.font-weight-bold.text-primary NT$
                    h4.font-weight-bold.text-primary.mb-0 1488
                  .d-flex.align-items-center
                    a(href='javascript:;')
                      .icon-block.icon-heart-round.text-primary
                    a(href='javascript:;')
                      .icon-block.icon-share.text-primary
                .text-del-price.d-flex.align-items-center
                  span.text-dark.d-block 原價：
                  del.text-dark.d-block 1900
      nav.pagination.container.d-flex.flex-center.mb-4(aria-label='pagination')
        ul.page-list
          li.page-item.prev
            a.page-link(href='javascript:;')
          each val in [1,2,3,4,5,6,7,8,9,10]
            li.page-item
              a.page-link(href='javascript:;')=val 
          li.page-item.next
            a.page-link(href='javascript:;')
