extends ./layout/index.pug

block content
  section#shopcart-step-4.container.py-5
    .my-3
      h2.pb-5 購物袋
      .row.align-items-md-end.align-items-center.justify-content-center
        .col-auto.step.py-2.text-primary
          .size-41.icon-step-1.pb-1
          span 購物袋
        .col.horizontal-line-2.d-none.d-md-block.mb-3
        .col-auto.step.py-2.text-gray
          .size-41.icon-step-2.pb-1
          span 資料填寫
        .col.horizontal-line-2.d-none.d-md-block.mb-3
        .col-auto.step.py-2.text-gray
          .size-41.icon-step-3.pb-1
          span 結帳
        .col.horizontal-line-2.d-none.d-md-block.mb-3
        .col-auto.step.py-2.text-gray
          .size-41.icon-step-4.pb-1
          span 綁定毛孩
        .col.horizontal-line-2.d-none.d-md-block.mb-3
        .col-auto.step.py-2.text-gray
          .size-41.icon-step-5.pb-1
          span 完成訂單
    .my-1
      span 親愛的
      span.mx-1 黃ＸＸ
      span 您好，訂單含有客製化寵糧，綁定完成即可完成訂單唷！
    .text-danger.my-1
      sapn ***提醒：您的訂單含有客製化寵糧，尚有
      span.mx-1 1
      sapn 筆客製化寵糧未綁定毛孩！！
    .border
      .h6.p-2.p-md-3
        span 訂單編號：
        span xxxxxxxxxx
      .border-top
        .container-fluid
          .row
            .col-auto.pt-5
              span 1
            .col-auto.py-3(style="width: 132px;")
              img.w-100(src="./assets/image/prod-01.min.jpg")
            .col-sm.py-2.py-md-3
              div 客製寵糧訂單編號：
              .mb-3 EGT05167
              .h6 美味雞魚配方【M】月方案
            .col-lg.d-flex.flex-center.text-danger.py-3
              .size-20.icon-warning
              span.ml-2 此客製化寵糧尚未綁定毛孩！
          .d-flex.flex-column.flex-center.mx-auto
            div
              .h6.text-primary.font-weight-bold 綁定貓貓資料
              div
                span.text-dark 此尺寸方案適合
                span.mx-1.text-primary.font-weight-bold 3.4kg以下
                span.text-dark 毛孩。
              div
                span.text-dark 若有無法綁定的狀況，歡迎透過
                a.mx-1.font-weight-bold(href='javascript:;') Facebook
                span.text-dark 或
                a.mx-1.font-weight-bold(href='javascript:;') Line
                span.text-dark 與客服聯繫
              div
                span.text-dark 或撥打：
                a.mx-1.font-weight-bold(href='tel:0800029920') 0800-029-920
                span.text-dark 由專人為您服務
            .d-flex.py-3.flex-wrap
              .col-auto.p-1
                button.btn-icon.rounded-circle.bg-white.p-1(style="border: #45C2B1 solid 4px;")
                  img.img-cover.rounded-circle(src="./assets/image/pet-photo.min.jpg" width="100" height="100")
              .col-auto.p-1
                button.btn-icon.rounded-circle.bg-white.p-1(style="border: #BFBEBD solid 4px;opacity: 0.5;")
                  img.img-cover.rounded-circle(src="./assets/image/pet-photo.min.jpg" width="100" height="100")
              .col-auto.p-1
                button.btn-icon.rounded-circle.bg-white.p-1(style="border: #BFBEBD solid 4px;")
                  img.img-cover.rounded-circle(src="./assets/image/pet-photo.min.jpg" width="100" height="100")
              .col-auto.p-1.d-
                button.btn-icon.d-flex.flex-center(style="width: 124px;height: 124px;")
                  .size-54.icon-plus.text-gray-light
            .text-center.py-2 
              button.btn.btn-primary.rounded-pill.text-white.px-3 確認綁定按鈕
            .text-center.py-2
              .text-dark 確認後就不能修改了喔，如果需要修改請聯絡客服人員!
      .border-top
        .container-fluid
          .row
            .col-auto.pt-5
              span 2
            .col-auto.py-3(style="width: 132px;")
              img.w-100(src="./assets/image/prod-01.min.jpg")
            .col-sm.py-2.py-md-3
              div 客製寵糧訂單編號：
              .mb-3 EGT05167
              .h6 美味雞魚配方【M】月方案
            .col-lg.d-flex.flex-center.py-3
              .rounded-circle.bg-white.p-1(style="border: #45C2B1 solid 4px;")
                img.img-cover.rounded-circle(src="./assets/image/pet-photo.min.jpg" width="100" height="100")
              .ml-3.fs-16.fs-md-20
                .text-dark 妹妹
                .text-dark 
                  span 體重：
                  span 2.9kg

      