aside
    .fixed-bar(style='right: 1.5rem;')
        a.click-me(href='javascript:;')
            img(src='./assets/image/click-me.min.gif' alt='')
        a.icon-messenger.text-primary(href='javascript:;')
        a.icon-top.text-primary(href='javascript:;')