aside
    .fixed-bar(style='right: 1.5rem;')
        a.click-me(href='javascript:;')
            img(src='./assets/image/click-me.min.gif' alt='')
        ul.list-unstyled
            li
                a.icon-messenger.text-primary(href='javascript:;')
            li
                a.icon-top.text-primary(href='#body')