header
  .header-title.bg-primary.text-center
    span.text-white.font-helvetica-lighter
      | 購物袋滿$
      span 930
      | 免運！Shop now / +LINE 生活圈線領 $
      span 200
  .desktop
    .d-flex.justify-content-between.align-items-end.py-4.px-xl-5
      h1.logo.mb-0
        a(href='#')
          .icon-logo1(style='width: 220px;height: 81px;')
      nav.d-flex.justify-content-around.flex-grow-1
        ul.nav-bar.list-unstyled.d-flex.mb-0.justify-content-between
          li.nav-list.list-home
            a.h5.text-dark.nav-link.text-center(href='javascript:;') HOME
            .nav-bottomline
          li.nav-list.list-shop
            a.h5.text-dark.nav-link.text-center(href='javascript:;' data-target='#list-shop') 陪心商城
            .nav-bottomline
            #list-shop.list-panel(data-switch='false')
              ul.list-unstyled.d-flex
                li.list-item
                  .font-weight-bold.text-dark.list-item-title.h4 最新優惠
                  ul.list-unstyled
                    li.sub-list
                      a.h6(href='javascript:;') 購物滿額贈
                  .separate-line
                li.list-item
                  .font-weight-bold.text-dark.list-item-title.h4 餵 • 愛犬
                  ul.list-unstyled
                    li.sub-list
                      a.h6(href='javascript:;') 人氣組合
                    li.sub-list
                      a.h6(href='javascript:;') 客製化寵糧
                    li.sub-list
                      a.h6(href='javascript:;') SUPER主食罐
                    li.sub-list
                      a.h6(href='javascript:;') HERO零食
                    li.sub-list
                      a.h6(href='javascript:;') 能量補給玩具
                    li.sub-list
                      a.h6(href='javascript:;') 紓壓玩具
                  .separate-line
                li.list-item
                  .font-weight-bold.text-dark.list-item-title.h4 餵 • 愛貓
                  ul.list-unstyled
                    li.sub-list
                      a.h6(href='javascript:;') 人氣組合
                    li.sub-list
                      a.h6(href='javascript:;') 客製化寵糧
                    li.sub-list
                      a.h6(href='javascript:;') SUPER主食罐
                    li.sub-list
                      a.h6(href='javascript:;') HERO零食
                    li.sub-list
                      a.h6(href='javascript:;') 能量補給玩具
                    li.sub-list
                      a.h6(href='javascript:;') 紓壓玩具
                  .separate-line
                li.list-item
                  .font-weight-bold.text-dark.list-item-title.h4 P幣兌換
                  ul.list-unstyled
                    li.sub-list
                      a.h6(href='javascript:;') 兌換食品
                    li.sub-list
                      a.h6(href='javascript:;') 兌換禮品
          li.nav-list.list-about
            a.h5.text-dark.nav-link.text-center(href='javascript:;' data-target='#list-about') 關於陪心
            .nav-bottomline
            #list-about.list-panel(data-switch='false')
              ul.list-unstyled
                li.sub-list
                  a.h6.font-weight-bold(href='javascript:;') 陪心品牌
                li.sub-list
                  a.h6.font-weight-bold(href='javascript:;') 關於客製化
                li.sub-list
                  a.h6.font-weight-bold(href='javascript:;') 獲國家級認證寵糧
                li.sub-list
                  a.h6.font-weight-bold(href='javascript:;') 經銷據點
          li.nav-list.list-life
            a.h5.text-dark.nav-link.text-center(href='javascript:;' data-target='#list-life') 陪心生活家
            .nav-bottomline
            #list-life.list-panel(data-switch='false')
              ul.list-unstyled.d-flex
                li.list-item
                  ul.list-unstyled
                    li.sub-list
                      a.h6.font-weight-bold(href='javascript:;') 最新消息
                    li.sub-list
                      a.h6.font-weight-bold(href='javascript:;') 好評推薦
                    li.sub-list
                      a.h6.font-weight-bold(href='javascript:;') 餵寵學堂
                    li.sub-list
                      a.h6.font-weight-bold(href='javascript:;') 經銷據點
                  .separate-line
                li.list-item
                  ul.list-unstyled
                    li.sub-list
                      a.h6.font-weight-bold(href='javascript:;') 公益捐
                    li.sub-list
                      a.h6.font-weight-bold(href='javascript:;') 軍犬
                    li.sub-list
                      a.h6.font-weight-bold(href='javascript:;') 一日捐活動
          li.nav-list.list-qa
            a.h5.text-dark.nav-link.text-center(href='javascript:;' data-target='#list-qa') Q&A
            .nav-bottomline
            #list-qa.list-panel(data-switch='false')
              ul.list-unstyled.d-flex
                li.list-item
                  ul.list-unstyled
                    li.sub-list
                      a.h6.font-weight-bold(href='javascript:;') 客製化流程
                    li.sub-list
                      a.h6.font-weight-bold(href='javascript:;') 保鮮相關
                li.list-item
                  ul.list-unstyled
                    li.sub-list
                      a.h6.font-weight-bold.border-left(href='javascript:;') 退換貨退款
                    li.sub-list
                      a.h6.font-weight-bold.border-left(href='javascript:;') 餵食相關
                li.list-item
                  ul.list-unstyled
                    li.sub-list
                      a.h6.font-weight-bold.border-left(href='javascript:;') 試吃流程
                    li.sub-list
                      a.h6.font-weight-bold.border-left(href='javascript:;') 購買相關
                li.list-item
                  ul.list-unstyled
                    li.sub-list
                      a.h6.font-weight-bold.border-left(href='javascript:;') 健檢相關
                    li.sub-list
                      a.h6.font-weight-bold.border-left(href='javascript:;') 聯絡客服
      div
        ul.d-flex.list-unstyled.sub-nav-desktop.mb-0
          li#search-bar.sub-item.px-3
            a.nav-link.size-36.icon-search.focus-fill(href='javascript:;')
            form#search-form.search-bar(method='get')
              input(type='search' placeholder='請輸入欲搜尋商品或是關鍵字')
              input(type='submit' aria-hidden='true')
          li.sub-item.px-3
            a.size-36.icon-heart.icon-link.focus-fill(href='javascript:;')
          li.sub-item.px-3
            a.size-36.icon-shop.icon-link.focus-fill(href='javascript:;')
          li.sub-item.px-3
            a.size-36.icon-member.icon-link.focus-fill.nav-link(href='javascript:;' data-target='#panel-member')
            .nav-bottomline
            #panel-member.list-panel(data-switch='false')
              ul.list-unstyled.d-flex
                li.list-item
                  ul.list-unstyled
                    li.sub-list
                      a.h6.font-weight-bold(href='javascript:;') 會員專區
                    li.sub-list
                      a.h6.font-weight-bold(href='javascript:;') 毛孩專區
                    li.sub-list
                      a.h6.font-weight-bold(href='javascript:;') 我的評價
                  .separate-line
                li.list-item
                  ul.list-unstyled
                    li.sub-list
                      a.h6.font-weight-bold(href='javascript:;') 訂單查詢
                    li.sub-list
                      a.h6.font-weight-bold(href='javascript:;') 邀請我的好友
                    li.sub-list
                      a.h6.font-weight-bold(href='javascript:;') 登出
  .mobile
    .d-flex.justify-content-between.align-items-center.align-items-sm-end.pt-3.px-3.px-sm-5
      .logo.mb-0
        a(href='javascript:;')
          .icon-logo1
      ul.sub-nav-mobile.d-flex.list-unstyled.mb-0
        li.sub-nav-item
          a.size-36.icon-shop.icon-link.focus-fill(href='javascript:;')
        li.sub-nav-item
          a.size-36.icon-member.icon-link.focus-fill(href='javascript:;')
        li.sub-nav-item
          button.nav-btn(type='button' data-target='#nav-panel')
