doctype html
html
    include meta.pug
    body#body
        include header.pug
        include fixed-aside.pug
        .position-relative
            .row.no-gutters.flex-nowrap
                include mobile-panel
                block aside
                block content
        include footer.pug