head
  title nu4PET 陪心商城
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='title' content='nu4PET 陪心商城')
  meta(name='url' content='https://www.nu4pet.com/Shop/')
  meta(name='author' content='唯寵股份有限公司 - nu4PET')
  meta(name='generator' content='唯寵股份有限公司 - nu4PET - HTML Optimizer v1.0')
  meta(name='copyright' content='Copyright (C) 2018-2020 nu4PET 陪心商城 All rights reserved.')
  meta(name='description' content='最貼近毛小孩的陪心商城，提供客製化寵糧、罐頭、乾+濕、床墊...等等各種毛小孩及拔麻最喜愛的小物')
  meta(name='keywords' content='nu4PET,陪心寵糧,客製化,毛小孩,飼料,乾糧,濕糧,罐頭,床,狗,貓')
  meta(name='robots' content='index,follow')
  meta(name='logo70' content='http://www.nu4pet.com/Images/logo_70x70.png')
  meta(name='logo150' content='http://www.nu4pet.com/Images/logo_150x150.png')
  meta(name='logo310' content='http://www.nu4pet.com/Images/logo_310x310.png')
  meta(name='image' content='https://www.nu4pet.com/images/LandingPage/FBShare.jpg,')
  meta(name='format-detection' content='telephone=no')
  link(rel='icon' href='favicon.ico')
  meta(charset='UTF-8')
  meta(name='application-name' content='nu4PET 陪心商城')
  meta(name='msapplication-tooltip' content='最貼近毛小孩的陪心商城，提供客製化寵糧、罐頭、乾+濕、床墊...等等各種毛小孩及拔麻最喜愛的小物')
  meta(name='msapplication-starturl' content='https://www.nu4pet.com/Shop/')
  meta(name='msapplication-TileColor' content='#FFFFFF')
  meta(name='msapplication-TileImage' content='http://www.nu4pet.com/Images/logo_310x310.png')
  meta(name='msapplication-square70x70logo' content='http://www.nu4pet.com/Images/logo_70x70.png')
  meta(name='msapplication-square150x150logo' content='http://www.nu4pet.com/Images/logo_150x150.png')
  meta(name='msapplication-square310x310logo' content='http://www.nu4pet.com/Images/logo_310x310.png')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(http-equiv='imagetoolbar' content='no')
  meta(property='fb:app_id' content='')
  meta(property='og:title' content='nu4PET 陪心商城')
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://www.nu4pet.com/Shop/')
  meta(property='og:image' content='https://www.nu4pet.com/images/LandingPage/FBShare.jpg,')
  meta(property='og:image:width' content='1200')
  meta(property='og:image:height' content='628')
  meta(property='og:site_name' content='nu4PET 陪心商城')
  meta(property='og:description' content='最貼近毛小孩的陪心商城，提供客製化寵糧、罐頭、乾+濕、床墊...等等各種毛小孩及拔麻最喜愛的小物')
  meta(itemprop='name' content='nu4PET 陪心商城')
  meta(itemprop='description' content='最貼近毛小孩的陪心商城，提供客製化寵糧、罐頭、乾+濕、床墊...等等各種毛小孩及拔麻最喜愛的小物')
  meta(itemprop='image' content='https://www.nu4pet.com/images/LandingPage/FBShare.jpg,')
  meta(name='twitter:site' content='nu4PET 陪心商城')
  meta(name='twitter:title' content='nu4PET 陪心商城')
  meta(name='twitter:description' content='最貼近毛小孩的陪心商城，提供客製化寵糧、罐頭、乾+濕、床墊...等等各種毛小孩及拔麻最喜愛的小物')
  meta(name='twitter:creator' content='唯寵股份有限公司 - nu4PET')
  meta(name='twitter:image' content='https://www.nu4pet.com/images/LandingPage/FBShare.jpg,')
  meta(name='googlebot' content='index,follow')
  meta(name='google-site-verification' content='McP8Us9nO4W7t3Cyocews7MsVsTsGo4lAOYRpi3QYjI')
  link(rel='canonical' href='https://www.nu4pet.com/Shop/')
  link(rel='shortlink' href='https://www.nu4pet.com/Shop/')
