aside.sub-nav-mobile.nav-back
  ul#nav-panel.nav-panel.list-unstyled.text-center(data-switch='false')
    li.nav-list
      button.nav-sub-btn.font-weight-bold.h-auto.m-0(type='button' data-target='#sublist-shop') 陪心商城
      ul#sublist-shop.nav-sub-list.list-unstyled(data-switch='false')
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 最新優惠
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 餵 • 愛犬
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 餵 • 愛貓
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') P幣兌換
    li.nav-list
      button.nav-sub-btn.font-weight-bold.h-auto.m-0(type='button' data-target='#sublist-about') 關於陪心
      ul#sublist-about.nav-sub-list.list-unstyled(data-switch='false')
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 陪心品牌
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 關於客製化
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 獲國家級認證寵糧
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 經銷據點
    li.nav-list
      button.nav-sub-btn.font-weight-bold.h-auto.m-0(type='button' data-target='#sublist-life') 陪心生活家
      ul#sublist-life.nav-sub-list.list-unstyled(data-switch='false')
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 最新消息
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 餵寵學堂
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 好評推薦
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 公益捐
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 軍犬
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 一日捐活動
    li.nav-list
      button.nav-sub-btn.font-weight-bold.h-auto.m-0(type='button' data-target='#sublist-qa') Q&A
      ul#sublist-qa.nav-sub-list.list-unstyled(data-switch='false')
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 客製化流程
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 試吃相關
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 健檢相關
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 保鮮相關
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 餵食相關
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 購買相關
    li.nav-list
      button.nav-sub-btn.font-weight-bold.h-auto.m-0(type='button' data-target='#sublist-like') 我的收藏
      ul#sublist-like.nav-sub-list.list-unstyled(data-switch='false')
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 收藏項目
    li.nav-list
      button.nav-sub-btn.font-weight-bold.h-auto.m-0(type='button' data-target='#sublist-member') 會員專區
      ul#sublist-member.nav-sub-list.list-unstyled(data-switch='false')
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 會員專區
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 毛孩專區
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 我的評價
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 訂單查詢
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 邀請我的好友
        li.nav-sub-item
          a.nav-sub-link.font-weight-bold(href='') 登出
