<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <title><%= htmlWebpackPlugin.options.meta.title %><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8">
    <meta name="application-name" content="<%= htmlWebpackPlugin.options.meta.title %>">
    <meta name="msapplication-tooltip" content="<%= htmlWebpackPlugin.options.meta.description %>">
    <meta name="msapplication-starturl" content="<%= htmlWebpackPlugin.options.meta.url %>">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.options.meta.logo310 %>">
    <meta name="msapplication-square70x70logo" content="<%= htmlWebpackPlugin.options.meta.logo70 %>">
    <meta name="msapplication-square150x150logo" content="<%= htmlWebpackPlugin.options.meta.logo150 %>">
    <meta name="msapplication-square310x310logo" content="<%= htmlWebpackPlugin.options.meta.logo310 %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="imagetoolbar" content="no">
    <meta property="fb:app_id" content="">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.meta.title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.meta.url %>">
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.meta.image %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.meta.title %>">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.meta.description %>">
    <meta itemprop="name" content="<%= htmlWebpackPlugin.options.meta.title %>">
    <meta itemprop="description" content="<%= htmlWebpackPlugin.options.meta.description %>">
    <meta itemprop="image" content="<%= htmlWebpackPlugin.options.meta.image %>">
    <meta name="twitter:site" content="<%= htmlWebpackPlugin.options.meta.title %>">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.meta.title %>">
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.meta.description %>">
    <meta name="twitter:creator" content="<%= htmlWebpackPlugin.options.meta.author %>">
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.meta.image %>">
    <meta name="googlebot" content="<%= htmlWebpackPlugin.options.meta.robots %>">
    <meta name="google-site-verification" content="McP8Us9nO4W7t3Cyocews7MsVsTsGo4lAOYRpi3QYjI">
    <link rel="canonical" href="<%= htmlWebpackPlugin.options.meta.url %>">
    <link rel="shortlink" href="<%= htmlWebpackPlugin.options.meta.url %>">
    <%= htmlWebpackPlugin.options.headData %>
</head>
<body id="body">
    <noscript></noscript>
    <%= htmlWebpackPlugin.options.header %>
    <div class="position-relative">
        <div class="row no-gutters flex-nowrap">
            <aside class="sub-nav-mobile nav-back">
                <ul class="nav-panel list-unstyled text-center" id="nav-panel" data-switch="false">
                    <li class="nav-list">
                        <button type="button" class="nav-sub-btn font-weight-bold h-auto m-0" data-target="#sublist-shop">陪心商城</button>
                        <ul class="nav-sub-list list-unstyled" id="sublist-shop" data-switch="false">
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">最新優惠</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">餵 • 愛犬</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">餵 • 愛貓</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">P幣兌換</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list">
                        <button type="button" class="nav-sub-btn font-weight-bold h-auto m-0" data-target="#sublist-about">關於陪心</button>
                        <ul class="nav-sub-list list-unstyled" id="sublist-about" data-switch="false">
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">陪心品牌</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">關於客製化</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">獲國家級認證寵糧</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">經銷據點</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list">
                        <button type="button" class="nav-sub-btn font-weight-bold h-auto m-0" data-target="#sublist-life">陪心生活家</button>
                        <ul class="nav-sub-list list-unstyled" id="sublist-life" data-switch="false">
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">最新消息</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">餵寵學堂</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">好評推薦</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">公益捐</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">軍犬</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">一日捐活動</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list">
                        <button type="button" class="nav-sub-btn font-weight-bold h-auto m-0" data-target="#sublist-qa">Q&A</button>
                        <ul class="nav-sub-list list-unstyled" id="sublist-qa" data-switch="false">
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">客製化流程</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">試吃相關</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">健檢相關</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">保鮮相關</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">餵食相關</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">購買相關</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list">
                        <button type="button" class="nav-sub-btn font-weight-bold h-auto m-0" data-target="#sublist-like">我的收藏</button>
                        <ul class="nav-sub-list list-unstyled" id="sublist-like" data-switch="false">
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">收藏項目</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list">
                        <button type="button" class="nav-sub-btn font-weight-bold h-auto m-0" data-target="#sublist-member">會員專區</button>
                        <ul class="nav-sub-list list-unstyled" id="sublist-member" data-switch="false">
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">會員專區</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">毛孩專區</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">我的評價</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">訂單查詢</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">邀請我的好友</a>
                            </li>
                            <li class="nav-sub-item">
                                <a href="" class="nav-sub-link font-weight-bold">登出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <!-- TODO: main  -->
            <%= htmlWebpackPlugin.options.main %>
            
        </div>
    </div>
    <%= htmlWebpackPlugin.options.footer %>
</body>
</html>