$grid-media-size: (
  xs: 374px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

//**********
// @media **
//**********

@mixin media-min($media) {
    @media (min-width: $media) {
        @content;
    }
}

@mixin media-max($media) {
    @media (max-width: $media) {
        @content;
    }
}

@mixin media-Range($minMedia, $maxMedia) {
    @media (min-width: $minMedia) and (max-width: $maxMedia) {
        @content;
    }
}

//**********
// Scroll **
//**********

@mixin scroll-panel{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    &::-webkit-scrollbar-button{}
    &::-webkit-scrollbar-thumb{}
    &::-webkit-scrollbar-track{}
    &::-webkit-scrollbar-track-piece{}
    &::-webkit-scrollbar-corner{}
}
.scroll-panel{
    @include scroll-panel;
}

//******************
// Stretched Link **
//******************

@mixin stretched-link {
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        pointer-events: auto;
        opacity: 0;
        background-color: transparent;
    }
    
}

//**********
// Scroll **
//**********

@mixin scroll-panel{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    &::-webkit-scrollbar{
        width: 0.25rem;
    }
    &::-webkit-scrollbar-track {
        background-color: $gray-light;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: $gray;
    }
}
.scroll-panel{
    @include scroll-panel;
}