.flex-center{
    align-items: center;
    justify-content: center;
}
.flex-between{
    align-items: center;
    justify-content: space-between;
}
.img-cover{
    object-fit: cover;
}
.position-fill{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.absolute-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@for $i from 1 through 10 {
    .letter-spacing-#{$i} {
        letter-spacing: $i*1px;
    }
}
@for $i from 1 through 10 {
    .line-height-#{8 + ($i*2)} {
        line-height: 0.8 + ( $i * 0.2 );
    }
}

.desktop{
    @include media-max (1200px){
        display: none !important;
    }
}
.mobile{
    @include media-min (1199.5px){
        display: none !important;
    }
    .pad{
        @include media-max (576px){
            display: none !important;
        }
    }
    .phone{
        @include media-min (575.5px){
            display: none !important;
        }
        &.media-lg{
            @include media-max (422px){
                display: none !important;
            }
        }
        &.media-md{
            @include media-min (421.5px){
                display: none !important;
            }
            @include media-max (380px){
                display: none !important;
            }
        }
        &.media-sm{
            @include media-min (379.5px){
                display: none !important;
            }
        }
    }
}