.flex-center{
    align-items: center;
    justify-content: center;
}
.flex-between{
    align-items: center;
    justify-content: space-between;
}
.img-cover{
    object-fit: cover;
}
.position-fill{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.absolute-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.filter-grayscale{
    filter: grayscale(100%);
}
.cursor-pointer{
    cursor: pointer;
}
@for $i from 1 through 10 {
    .letter-spacing-#{$i} {
        letter-spacing: $i*1px;
    }
}
@for $i from 1 through 10 {
    .line-height-#{8 + ($i*2)} {
        line-height: 0.8 + ( $i * 0.2 );
    }
}
.p-100{
    padding-top: 100%;
}
.desktop{
    @include media-max (1200px){
        display: none !important;
    }
}
.mobile{
    @include media-min (1199.5px){
        display: none !important;
    }
    .pad{
        @include media-max (576px){
            display: none !important;
        }
    }
    .phone{
        @include media-min (575.5px){
            display: none !important;
        }
        &.media-lg{
            @include media-max (422px){
                display: none !important;
            }
        }
        &.media-md{
            @include media-min (421.5px){
                display: none !important;
            }
            @include media-max (380px){
                display: none !important;
            }
        }
        &.media-sm{
            @include media-min (379.5px){
                display: none !important;
            }
        }
    }
}



// $h1-font-size: 3.125rem;
// $h2-font-size: 2rem;
// $h3-font-size: 1.75rem;
// $h4-font-size: 1.4375rem;
// $h5-font-size: 1.25rem;
// $h6-font-size: 1.125rem;
@for $i from 1 through 8 {
    .fs-#{10 + ($i*2)} {
        font-size: 10px + ( $i * 2px );
    }
}
@for $i from 1 through 6 {
    .fs-#{26 + ($i*4)} {
        font-size: 26px + ( $i * 4px );
    }
}
@each $media, $size in $grid-media-size {
    @include media-min($size){
        @for $i from 1 through 8 {
            .fs-#{$media}-#{10 + ($i*2)} {
                font-size: 10px + ( $i * 2px );
            }
        }
        @for $i from 1 through 6 {
            .fs-#{$media}-#{26 + ($i*4)} {
                font-size: 26px + ( $i * 4px );
            }
        }
    }
}

.rwd-h1{
    font-size: 3.125rem;
    @include media-max(992px){
        font-size: 2rem;
    }
    @include media-max(768px){
        font-size: 1.5rem;
    }
    @include media-max(576px){
        font-size: 1.25rem;
    }
    @include media-max(380px){
        font-size: 1.125rem;
    }
}
.rwd-h2{
    font-size: 2rem;
    @include media-max(992px){
        font-size: 1.5rem;
    }
    @include media-max(768px){
        font-size: 1.25rem;
    }
    @include media-max(576px){
        font-size: 1.125rem;
    }
    @include media-max(380px){
        font-size: 1rem;
    }
}
.rwd-h3{
    font-size: 1.75rem;
    @include media-max(992px){
        font-size: 1.5rem;
    }
    @include media-max(768px){
        font-size: 1.25rem;
    }
    @include media-max(576px){
        font-size: 1.125rem;
    }
    @include media-max(380px){
        font-size: 1rem;
    }
}
.rwd-h4{
    font-size: 1.4375rem;
    @include media-max(992px){
        font-size: 1.25rem;
    }
    @include media-max(768px){
        font-size: 1.25rem;
    }
    @include media-max(576px){
        font-size: 1rem;
    }
    @include media-max(380px){
        font-size: 0.75rem;
    }
}
.rwd-h5{
    font-size: 1.25rem;
    @include media-max(992px){
        font-size: 1.125rem;
    }
    @include media-max(768px){
        font-size: 1rem;
    }
    @include media-max(576px){
        font-size: 0.75rem;
    }
    @include media-max(380px){
        font-size: 0.75rem;
        transform: scale(0.875);
    }
}
.rwd-h6{
    font-size: 1.125rem;
    @include media-max(992px){
        font-size: 1rem;
    }
    @include media-max(768px){
        font-size: 0.75rem;
    }
    @include media-max(576px){
        font-size: 0.75rem;
        transform: scale(0.875);
    }
    @include media-max(380px){
        font-size: 0.75rem;
        transform: scale(0.75);
    }
}
.rwd-p{
    font-size: 1.25rem;
    @include media-max(992px){
        font-size: 1.125rem;
    }
    @include media-max(768px){
        font-size: 1rem;
    }
    @include media-max(576px){
        font-size: 0.75rem;
    }
    @include media-max(380px){
        font-size: 0.75rem;
        transform: scale(0.875);
    }
}
[class*="rwd"].scale-0{
    transform: scale(1);
}

.overflow-line-20{
    font-size: 20px;
    line-height: 1.5;
    height: 20px*1.5*3;
    overflow: hidden;
    box-sizing: content-box;
}
.overflow-line-16{
    font-size: 16px;
    line-height: 1.5;
    height: 16px*1.5*3;
    overflow: hidden;
    box-sizing: content-box;
}


input[type="text"].form-control{
    padding: 0 0.5rem;
    border-radius: 99rem;
    background-color:  #F3F3F3;
    border-color: #F3F3F3;
}
input[type="text"].form-control.is-invalid{
    border-color:#ff0000;
}
input.form-control::placeholder{
    color: #9D9D9D;
}

select.custom-select{
    background-color:  #F3F3F3;
    border-radius: 99rem;
}

.horizontal-line-1{
    background-color: #5A5B5B;
    height: 1px;
}

.horizontal-line-2{
    background-color: #5A5B5B;
    height: 2px;
}

.grid-span {
    grid-column: 1/-1;
}
.grid-span-2 {
    grid-column: span 2;
}
.precautions{
    fill: #ffffff;
    font: bold 72px sans-serif;
}